/**********************Light Menu Start********************************/

.light-menu {
    &.main-body.leftmenu {
        .side-menu .nav-link:hover {
            color: $primary;
        }

        .main-sidebar-body .nav-sub-link {

            &:hover,
            &:focus {
                color: $primary !important;
            }
        }

        .main-sidebar-sticky {
            background: $white !important;
            border-right: 1px solid $border;
            border-left: 1px solid $border;
        }

        .main-sidebar-body {
            .nav-label {
                color: #c8c4db;
            }

            .nav-link {
                color: #8784a7;
            }

            .nav-item.active .nav-link {

                &:before,
                &:after {
                    border-right-color: $white;
                    border-left-color: $white;
                }
            }
        }

        .sidemenu-logo {
            border-bottom-color: $border;
            border-left-color: $border !important;
            border-right-color: $border !important;

            .header-brand-img.desktop-logo {
                &.theme-logo {
                    display: block !important;
                }

                display: none !important;
            }
        }

        .main-sidebar-body {

            .nav-sub-link,
            .nav-sub .nav-sub-link:before {
                color: #8784a7 !important;
            }

            .nav-sub-item.active>.nav-sub-link.active {
                color: $primary !important;

                &::before {
                    color: $primary !important;
                }
            }

            li.active li {
                &.active .nav-sub-link.sub-with-sub {

                    .sidemenu-label,
                    i,
                    &::before {
                        color: $primary !important;
                        opacity: 1 !important;
                    }
                }

                .sidemenu-label,
                i {
                    color: #8784a7 !important;
                }
            }

            .nav-sub-link {
                &:hover.sub-with-sub {

                    .sidemenu-label,
                    .angle {
                        color: $primary !important;
                    }
                }

                &:focus.sub-with-sub {

                    .sidemenu-label,
                    .angle {
                        color: $primary !important;
                    }
                }
            }
        }

        &.hover-submenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .desktop-logo.theme-logo,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .desktop-logo.theme-logo {
            display: none !important;
        }

        &.hover-submenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo.theme-logo,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo.theme-logo {
            display: block !important;
        }

        .main-sidebar-body li.nav-item.active .nav-link {
            background-color: #eaedf7;
        }

        .main-sidebar-body .nav-item.active .nav-link .shape1,
        .main-sidebar-body .nav-item.active .nav-link .shape2 {
            background: #eaedf7;
        }
    }

    &.horizontalmenu {
        .main-navbar.hor-menu {
            background-color: $white;
            border-bottom-color: $border;
        }

        .main-header {
            box-shadow: none;
        }

        .main-navbar {

            .nav-link,
            .nav-item:hover .nav-link.with-sub::after {
                color: #8784a7;
            }
        }
    }

    &.main-body.leftmenu .main-sidebar-body .nav-sub-item.show>.nav-sub-link.active {
        color: $primary !important;

        &::before {
            color: $primary !important;
        }
    }
}

@media (min-width: 992px) {
    .light-menu.main-body.leftmenu .sidemenu-logo {
        background: $white;
    }
}

@media (min-width: 992px) {
    .light-menu.main-body.leftmenu.main-sidebar-hide {
        .side-menu .main-logo {
            .desktop-logo {
                display: none !important;
            }

            .icon-logo {
                display: none !important;

                &.theme-logo {
                    display: block !important;
                }
            }
        }

        &.main-sidebar-hide .side-menu {
            .desktop-logo {
                display: none !important;
            }

            .icon-logo {
                display: none !important;

                &.theme-logo {
                    display: block !important;
                }
            }
        }

        &.main-sidebar-hide.main-sidebar-open .side-menu {
            .desktop-logo {
                display: none !important;

                &.theme-logo {
                    display: block !important;
                }
            }

            .icon-logo {
                display: none !important;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .light-menu.main-body.leftmenu {

        &.hover-submenu.main-sidebar-hide.main-sidebar-open .nav-item:hover .nav-sub,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .nav-item:hover .nav-sub {
            background: $white;
            box-shadow: -6px 0px 4px 3px $black-2;
        }

        &.hover-submenu.main-sidebar-hide .main-sidebar-body li.nav-item.active .nav-link,
        &.hover-submenu1.main-sidebar-hide .main-sidebar-body li.nav-item.active .nav-link {
            background-color: $white;
        }

        &.hover-submenu.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu-label1,
        &.hover-submenu1.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu-label1 {
            border-bottom-color: $border;
        }
    }
}

@media (min-width: 992px) {
    .light-menu.horizontalmenu {
        .main-navbar.hor-menu .nav-item {

            &.active .nav-link,
            &:hover .nav-link,
            &.active .nav-link .hor-icon,
            &:hover .nav-link .hor-icon {
                color: $primary;
            }
        }

        .hor-menu .nav-link .hor-icon {
            color: #8784a7;
            fill: #8784a7;
        }

        .main-navbar {
            .nav-sub {
                background-color: $white;
                border-top-color: $border;
            }

            .nav-sub-link {
                color: #8784a7;
            }
        }

        .menu-nav .nav-item ul.nav-sub::before {
            border-top-color: $border;
            border-left-color: $border;
            background-color: $white;
        }

        .main-navbar {
            .nav-sub-link {

                &:hover,
                &:focus {
                    color: $primary !important;
                }

                &.sub-with-sub::after {
                    color: #8784a7;
                }

                &:hover.sub-with-sub::after,
                &:focus.sub-with-sub::after {
                    color: $primary !important;
                }
            }

            .nav-sub-item.active>.nav-sub-link.active {
                color: $primary;

                &:before {
                    color: $primary;
                }
            }

            .nav-sub-link.active.sub-with-sub::after {
                color: $primary !important;
            }

            &.hor-menu .nav-item.active .nav-link.with-sub::after {
                color: $primary;
            }

            .sub-nav-sub {
                background-color: $white;
                border-color: $border;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .light-menu.horizontalmenu {
        .main-body-1 {
            .nav-label {
                color: #c8c4db;
            }

            .nav-item.active .nav-link {

                &:before,
                &:after {
                    border-right-color: $white;
                    border-left-color: $white;
                }
            }

            .nav-sub-link,
            .nav-sub .nav-sub-link:before {
                color: #8784a7;
            }
        }

        .main-navbar {
            .nav-sub-item.active>.nav-sub-link.active {
                color: $primary;

                &:before {
                    color: $primary;
                    opacity: 1;
                }
            }

            .nav-sub-link {

                &:hover,
                &:focus {
                    color: #8784a7 !important;
                }

                &:hover:before,
                &:focus:before {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .light-menu .hor-menu {

        .slide-left,
        .slide-right {
            color: $black;
            border-color: $border;
            background-color: $white;
        }
    }
}

/**********************Light Menu End********************************/
/**********************Dark Menu Start********************************/

.dark-menu {
    &.main-body.leftmenu {
        .side-menu .nav-link:hover {
            color: $white;
        }

        .main-sidebar-body .nav-sub-link {

            &:hover,
            &:focus {
                color: $white !important;
            }
        }

        .main-sidebar-sticky {
            background: $dark-theme !important;
            border-right-color: $dark-border;
            border-left-color: $dark-border;
        }

        .main-sidebar-body {
            .nav-label {
                color: $white-3;
            }

            .nav-link {
                color: $white-4;
            }

            .nav-item.active .nav-link {

                &:before,
                &:after {
                    border-right-color: $dark-theme;
                    border-left-color: $dark-theme;
                }
            }
        }

        .sidemenu-logo {
            border-bottom-color: $dark-border;
            border-left-color: $dark-border !important;
            border-right-color: $dark-border !important;

            .header-brand-img.desktop-logo {
                &.theme-logo {
                    display: none !important;
                }

                display: block !important;
            }
        }

        .main-sidebar-body {

            .nav-sub-link,
            .nav-sub .nav-sub-link:before {
                color: $white-4 !important;
            }

            .nav-sub-item.active>.nav-sub-link.active {
                color: $white !important;

                &::before {
                    color: $white !important;
                }
            }

            li.active li {
                &.active .nav-sub-link.sub-with-sub {

                    .sidemenu-label,
                    i,
                    &::before {
                        color: $white !important;
                        opacity: 1 !important;
                    }
                }

                .sidemenu-label,
                i {
                    color: $white-4 !important;
                }
            }

            .nav-sub-link {
                &:hover.sub-with-sub {

                    .sidemenu-label,
                    .angle {
                        color: $white !important;
                    }
                }

                &:focus.sub-with-sub {

                    .sidemenu-label,
                    .angle {
                        color: $white !important;
                    }
                }
            }
        }

        &.hover-submenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .desktop-logo,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .desktop-logo,
        &.hover-submenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .desktop-logo.theme-logo,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .desktop-logo.theme-logo,
        &.hover-submenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo.theme-logo,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo.theme-logo {
            display: none !important;
        }

        &.hover-submenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo {
            display: block !important;
        }
    }

    &.horizontalmenu {
        .main-navbar.hor-menu {
            background-color: $dark-theme;
            border-bottom-color: $dark-border;
        }

        .main-header {
            box-shadow: none;
        }

        .main-navbar {

            .nav-link,
            .nav-item:hover .nav-link.with-sub::after {
                color: $white-6;
            }
        }
    }
}

@media (min-width: 992px) {
    .dark-menu.main-body.leftmenu .sidemenu-logo {
        background: $dark-theme;
    }
}

@media (min-width: 992px) {
    .dark-menu.main-body.leftmenu.main-sidebar-hide {
        .side-menu .main-logo {
            .desktop-logo {
                display: none !important;
            }

            .icon-logo {
                display: block !important;

                &.theme-logo {
                    display: none !important;
                }
            }
        }

        &.main-sidebar-hide.main-sidebar-open .side-menu {
            .desktop-logo {
                display: block !important;

                &.theme-logo {
                    display: none !important;
                }
            }

            .icon-logo {
                display: none !important;
            }
        }

        &.main-sidebar-hide .side-menu {
            .desktop-logo {
                display: none !important;

                &.theme-logo {
                    display: none !important;
                }
            }

            .icon-logo {
                display: block !important;

                &.theme-logo {
                    display: none !important;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .dark-menu.main-body.leftmenu {

        &.hover-submenu.main-sidebar-hide.main-sidebar-open .nav-item:hover .nav-sub,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .nav-item:hover .nav-sub {
            background: $dark-theme;
            box-shadow: -6px 0px 4px 3px $black-2;
        }

        &.hover-submenu.main-sidebar-hide .main-sidebar-body li.nav-item.active .nav-link,
        &.hover-submenu1.main-sidebar-hide .main-sidebar-body li.nav-item.active .nav-link {
            background-color: $dark-theme;
        }

        &.hover-submenu.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu-label1,
        &.hover-submenu1.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu-label1 {
            border-bottom-color: $dark-border;
        }
    }
}

@media (min-width: 992px) {
    .dark-menu.horizontalmenu {
        .main-navbar.hor-menu .nav-item {

            &.active .nav-link,
            &:hover .nav-link,
            &.active .nav-link .hor-icon,
            &:hover .nav-link .hor-icon {
                color: $white;
            }
        }

        .hor-menu .nav-link .hor-icon {
            color: $white-6;
            fill: $white-6;
        }

        .main-navbar {
            .nav-sub {
                background-color: $dark-theme;
                border-top-color: $dark-border;
            }

            .nav-sub-link {
                color: $white-4;
            }
        }

        .menu-nav .nav-item ul.nav-sub::before {
            border-top-color: $dark-border;
            border-left-color: $dark-border;
            background-color: $dark-theme;
        }

        .main-navbar {
            .nav-sub-link {

                &:hover,
                &:focus {
                    color: $white !important;
                }

                &.sub-with-sub::after {
                    color: $white-4;
                }

                &:hover.sub-with-sub::after,
                &:focus.sub-with-sub::after {
                    color: $white !important;
                }
            }

            .nav-sub-item.active>.nav-sub-link.active {
                color: $white;

                &:before {
                    color: $white;
                }
            }

            .nav-sub-link.active.sub-with-sub::after {
                color: $white !important;
            }

            &.hor-menu .nav-item.active .nav-link.with-sub::after {
                color: $white;
            }

            .sub-nav-sub {
                background-color: $dark-theme;
                border-color: $dark-border;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .dark-menu.horizontalmenu {
        .main-body-1 {
            .nav-label {
                color: $white-3;
            }

            .nav-item.active .nav-link {

                &:before,
                &:after {
                    border-right-color: $dark-theme;
                    border-left-color: $dark-theme;
                }
            }

            .nav-sub-link {
                color: $white-4;
            }

            .nav-sub .nav-sub-link:before {
                color: $white-8;
            }
        }

        .main-navbar {
            .nav-sub-item.active>.nav-sub-link.active {
                color: $white;

                &:before {
                    color: $white;
                    opacity: 1;
                }
            }

            .nav-sub-link {

                &:hover,
                &:focus {
                    color: $white !important;
                }

                &:hover:before,
                &:focus:before {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .dark-menu .hor-menu {

        .slide-left,
        .slide-right {
            color: $dark-color;
            border-color: $dark-border;
            background-color: $dark-theme;
        }
    }
}

/**********************Dark Menu End********************************/
/**********************Color Menu Start********************************/

.color-menu {
    &.main-body.leftmenu {
        .side-menu .nav-link:hover {
            color: $white;
        }

        .main-sidebar-body .nav-sub-link {

            &:hover,
            &:focus {
                color: $white !important;
            }
        }

        .main-sidebar-sticky {
            background: $primary !important;
            border-right-color: $white-2;
            border-left-color: $white-2;
        }

        .main-sidebar-body {
            .nav-label {
                color: $white-3;
            }

            .nav-link {
                color: $white-6;
            }

            .nav-item.active .nav-link {

                &:before,
                &:after {
                    border-right-color: $primary;
                    border-left-color: $primary;
                }
            }
        }

        .sidemenu-logo {
            border-bottom-color: $white-2;
            border-left-color: $white-2 !important;
            border-right-color: $white-2 !important;

            .header-brand-img.desktop-logo {
                &.theme-logo {
                    display: none !important;
                }

                display: block !important;
            }
        }

        .main-sidebar-body {

            .nav-sub-link,
            .nav-sub .nav-sub-link:before {
                color: $white-6 !important;
            }

            .nav-sub-item.active>.nav-sub-link.active {
                color: $white !important;

                &::before {
                    color: $white !important;
                }
            }

            li.active li {
                &.active .nav-sub-link.sub-with-sub {

                    .sidemenu-label,
                    i,
                    &::before {
                        color: $white !important;
                        opacity: 1 !important;
                    }
                }

                .sidemenu-label,
                i {
                    color: $white-6 !important;
                }
            }

            .nav-sub-link {
                &:hover.sub-with-sub {

                    .sidemenu-label,
                    .angle {
                        color: $white !important;
                    }
                }

                &:focus.sub-with-sub {

                    .sidemenu-label,
                    .angle {
                        color: $white !important;
                    }
                }
            }
        }

        &.hover-submenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .desktop-logo,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .desktop-logo,
        &.hover-submenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo.theme-logo,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo.theme-logo {
            display: none !important;
        }

        &.hover-submenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .icon-logo {
            display: block !important;
        }
    }

    &.horizontalmenu {
        .main-navbar.hor-menu {
            background-color: $primary;
            border-bottom-color: $white-2;
        }

        .main-header {
            box-shadow: none;
        }

        .main-navbar {

            .nav-link,
            .nav-item:hover .nav-link.with-sub::after {
                color: $white-6;
            }
        }
    }

    .side-menu-label1 a {
        color: $white;
    }
}

@media (min-width: 992px) {
    .color-menu.main-body.leftmenu .sidemenu-logo {
        background: $primary;
    }
}

@media (min-width: 992px) {
    .color-menu.main-body.leftmenu.main-sidebar-hide {
        .side-menu .main-logo {
            .desktop-logo {
                display: none !important;
            }

            .icon-logo {
                display: block !important;

                &.theme-logo {
                    display: none !important;
                }
            }
        }

        &.main-sidebar-hide .side-menu {
            .desktop-logo {
                display: none !important;
            }

            .icon-logo {
                display: block !important;

                &.theme-logo {
                    display: none !important;
                }
            }
        }

        &.main-sidebar-hide.main-sidebar-open .side-menu {
            .desktop-logo {
                display: block !important;

                &.theme-logo {
                    display: none !important;
                }
            }

            .icon-logo {
                display: none !important;
            }
        }
    }
}

@media (min-width: 992px) {
    .color-menu.main-body.leftmenu.icontext-menu.main-sidebar-hide {
        .main-sidebar-body li.active {
            .sidemenu-icon {
                background: $black-2;
            }

            .sidemenu-label {
                color: $white;
            }
        }

        &.main-sidebar-open .main-sidebar-body li.active {
            .sidemenu-icon {
                background: $primary;
            }

            .sidemenu-label {
                color: $primary;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .color-menu.main-body.leftmenu {

        &.hover-submenu.main-sidebar-hide.main-sidebar-open .nav-item:hover .nav-sub,
        &.hover-submenu1.main-sidebar-hide.main-sidebar-open .nav-item:hover .nav-sub {
            background: $primary;
            box-shadow: -6px 0px 4px 3px $black-2;
        }

        &.hover-submenu.main-sidebar-hide .main-sidebar-body li.nav-item.active .nav-link,
        &.hover-submenu1.main-sidebar-hide .main-sidebar-body li.nav-item.active .nav-link {
            background-color: $primary;
        }

        &.hover-submenu.main-sidebar-hide .main-sidebar-body li.active .sidemenu-icon,
        &.hover-submenu1.main-sidebar-hide .main-sidebar-body li.active .sidemenu-icon {
            background: $black-2;
        }

        &.hover-submenu.main-sidebar-hide .main-sidebar-body li.active .sidemenu-label,
        &.hover-submenu1.main-sidebar-hide .main-sidebar-body li.active .sidemenu-label {
            color: $white;
        }

        &.hover-submenu.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu-label1,
        &.hover-submenu1.hover-submenu1.main-sidebar-hide.main-sidebar-open .side-menu-label1 {
            border-bottom-color: $white-2;
        }
    }
}

@media (min-width: 992px) {
    .color-menu.horizontalmenu {
        .main-navbar.hor-menu .nav-item {

            &.active .nav-link,
            &:hover .nav-link,
            &.active .nav-link .hor-icon,
            &:hover .nav-link .hor-icon {
                color: $white;
            }
        }

        .hor-menu .nav-link .hor-icon {
            color: $white-6;
            fill: $white-6;
        }

        .main-navbar {
            .nav-sub {
                background-color: $primary;
                border-top-color: $white-2;
            }

            .nav-sub-link {
                color: $white-6;
            }
        }

        .menu-nav .nav-item ul.nav-sub::before {
            border-top-color: $white-2;
            border-left-color: $white-2;
            background-color: $primary;
        }

        .main-navbar {
            .nav-sub-link {

                &:hover,
                &:focus {
                    color: $white !important;
                }

                &.sub-with-sub::after {
                    color: $white-6;
                }

                &:hover.sub-with-sub::after,
                &:focus.sub-with-sub::after {
                    color: $white !important;
                }
            }

            .nav-sub-item.active>.nav-sub-link.active {
                color: $white;

                &:before {
                    color: $white;
                }
            }

            .nav-sub-link.active.sub-with-sub::after {
                color: $white !important;
            }

            &.hor-menu .nav-item.active .nav-link.with-sub::after {
                color: $white;
            }

            .sub-nav-sub {
                background-color: $primary;
                border-color: $white-2;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .color-menu.horizontalmenu {
        .main-body-1 {
            .nav-label {
                color: $white-3;
            }

            .nav-item.active .nav-link {

                &:before,
                &:after {
                    border-right-color: $primary;
                    border-left-color: $primary;
                }
            }

            .nav-sub-link {
                color: $white-6;
            }

            .nav-sub .nav-sub-link:before {
                color: $white-8;
            }
        }

        .main-navbar {
            .nav-sub-item.active>.nav-sub-link.active {
                color: $white;

                &:before {
                    color: $white;
                    opacity: 1;
                }
            }

            .nav-sub-link {

                &:hover,
                &:focus {
                    color: $white !important;
                }

                &:hover:before,
                &:focus:before {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .color-menu .hor-menu {

        .slide-left,
        .slide-right {
            color: $white;
            border-color: $white-2;
            background-color: $primary;
        }
    }
}

/**********************Color Menu End********************************/