@import "./assets/plugins/web-fonts/font-awesome/font-awesome.min.css";
@import "./assets/plugins/web-fonts/plugin.css";
@import "./assets/switcher/css/switcher.css";
@import "./assets/switcher/demo.css";
@import "./assets/plugins/bootstrap/css/bootstrap.min.css";
@import "./assets/plugins/web-fonts/icons.css";
@import "./assets/css/style.css";
@import "./assets/css/icon-list.css";

.sub-nav-sub.open {
  display: block;
}

.Toast-Primary {
  .Vue-Toastification__toast--default {
    background-color: #6259ca;
    color: #fff;
  }
}

.Toast-Success {
  .Vue-Toastification__toast--default {
    background-color: #E66239;
    color: #fff;
  }
}
.Toat-Error {
  .Vue-Toastification__toast--default {
    background-color: #dc3545;
    color: #fff;
  }
}
.Toast-Opacity {
  .Vue-Toastification__toast--default {
    background-color: #8f9cc0;
    color: #fff;
  }
}
.Toast-Warning {
  .Vue-Toastification__toast--default {
    background-color: #f1911d;
    color: #fff;
  }
}
.Toast-Info {
  .Vue-Toastification__toast--default {
    background-color: #06aff1;
    color: #fff;
  }
}

.main-menu .ps__rail-x,
.sidebar-right1 .ps__rail-x {
  display: none !important;
}

.main-menu .ps__thumb-y {
  background-color: transparent;
}

.sub-nav-sub.open,
.nav-sub.open {
  display: block !important;
}

@media (min-width: 992px) {
  .main-navbar.hor-menu.ps {
    overflow: inherit !important;
  }

  .horizontalmenu .ps.main-menu {
    position: relative !important;
  }

  .hor-content .page-header {
    margin-top: 2.8rem;
  }
}

#BTC,
#ETH,
#ltc,
#Xrp {
  position: relative;
  top: -4rem;
  left: -6.5rem;
  right: 0;
  bottom: 0;
  width: 130px !important;
  height: 130px !important;
}

.vue-form-wizard.md .wizard-icon-circle {
  width: 40px !important;
  height: 40px !important;
  border: 3px solid #e8e8f7;
  font-size: 15px !important;
  background-color: #fff;
}

.vue-form-wizard .wizard-navigation .wizard-progress-with-circle {
  top: 25px !important;
}
.vue-form-wizard.md .wizard-nav-pills > li.active > a .wizard-icon {
  font-size: 15px !important;
  font-style: normal !important;
}

.vue-form-wizard .wizard-nav-pills > li > a {
  color: #a8afc7 !important;
}
.vue-form-wizard .wizard-icon-circle .wizard-icon {
  font-style: normal !important;
}

.dark-theme .vgt-table th.line-numbers,
.dark-theme .vgt-table th.vgt-checkbox-col {
  background: var(--dark-body);
  color: var(--dark-color);
}

.dark-theme .vgt-global-search__input .input__icon .magnifying-glass {
  border-color: var(--dark-color);
  &::before {
    background: var(--dark-color);
  }
}

.filepond--panel-root {
  background: #eaedf7 !important;
}

.vti__input {
  background-color: transparent;
  &:focus {
    color: inherit !important;
  }
}

.vue-tel-input {
  border-color: #e8e8f7 !important;
}

.vue-tel-input:focus-within {
  box-shadow: none !important;
  border-color: none !important;
}

.dark-theme .filepond--panel-root {
  background: var(--dark-body) !important;
}

.dark-theme .filepond--drop-label {
  color: #fff !important;
}

.dark-theme {
  .multiselect {
    background: var(--dark-theme) !important;
    border-color: var(--dark-border) !important;
  }
  .vue-tel-input {
    border-color: var(--dark-border) !important;
  }
  .vti__dropdown.open {
    background: var(--dark-body) !important;
  }
  .vti__dropdown-list {
    background: var(--dark-body) !important;
    border-color: var(--dark-border) !important;
  }
  .vti__dropdown-item.highlighted {
    background: rgba(255, 255, 255, 0.2) !important;
  }
  .vti__dropdown-item.last-preferred {
    border-bottom-color: rgba(255, 255, 255, 0.2) !important;
  }
  .vti__dropdown:hover {
    background: var(--dark-body) !important;
  }
  .dp__menu {
    background-color: var(--dark-body) !important;
    border-color: var(--dark-border) !important;
  }
  .dp__input {
    background: transparent !important;
    border-color: var(--dark-border) !important;
  }
  .dp__calendar_item {
    color: #fff !important;
  }
  .dp__range_between {
    background: rgba(255, 255, 255, 0.2) !important;
    border-top-color: var(--dark-border) !important;
    border-bottom-color: var(--dark-border) !important;
  }
  .dp__calendar_header_separator {
    background: rgba(255, 255, 255, 0.2) !important;
  }
  .dp__arrow_top,
  .dp__arrow_bottom {
    background-color: var(--dark-body) !important;
    border-left-color: var(--dark-border) !important;
    border-top-color: var(--dark-border) !important;
    border-right-color: var(--dark-border) !important;
    border-bottom-color: var(--dark-border) !important;
  }
  .dp__button,
  .dp__action_row {
    background: var(--dark-body) !important;
    color: #fff !important;
  }
  .dp__selection_preview {
    color: #fff !important;
  }
  .dp__calendar_header,
  .dp__month_year_row {
    color: #fff !important;
  }
  .dp__overlay {
    background: var(--dark-theme) !important;
    color: #fff !important;
  }
  .dp__icon {
    stroke: #fff;
    fill: #fff;
  }
  .dp__time_display {
    color: #fff;
  }
  .dp__time_col {
    color: #fff;
  }
  .dp__inc_dec_button:hover,
  .dp__inner_nav:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .vue-form-wizard.md .wizard-icon-circle {
    border-color: var(--dark-border) !important;
    background-color: var(--dark-body);
  }
}

.ck-content {
  height: 160px;
}

.ck.ck-toolbar,
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border-color: #e8e8f7 !important;
}

.dark-theme {
  .ck.ck-toolbar,
  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border-color: var(--dark-border) !important;
    background: transparent;
  }
  .ck-reset_all :not(.ck-reset_all-excluded *),
  .ck.ck-reset_all {
    color: #fff;
  }
  .ck.ck-button:not(.ck-disabled):hover,
  a.ck.ck-button:not(.ck-disabled):hover,
  .ck.ck-button:not(.ck-disabled):active,
  a.ck.ck-button:not(.ck-disabled):active {
    background: rgba(255, 255, 255, 0.2) !important;
  }
  .ck.ck-button:active,
  .ck.ck-button:focus,
  a.ck.ck-button:active,
  a.ck.ck-button:focus {
    box-shadow: none;
  }
  .ck.ck-editor__main > .ck-editor__editable {
    background: transparent;
  }
  .ck.ck-dropdown__panel {
    border-color: var(--dark-border);
    background: var(--dark-body);
  }
  .ck.ck-list {
    background: var(--dark-body);
  }
  .ck.ck-list__item
    .ck-button.ck-on:focus:not(.ck-switchbutton):not(.ck-disabled) {
    border-color: transparent;
    box-shadow: none;
  }
  .ck-content .table table td,
  .ck-content .table table th,
  .ck-content .table table {
    border-color: var(--dark-border);
  }
}
//landingpagemodal

/* licenses */
.tx-26 {
  font-size: 26px;
}
.tx-14 {
  font-size: 14px;
}
.tx-12 {
  font-size: 12px;
}
.font-weight-semibold {
  font-weight: 500;
}

.w-55 {
  width: 55%;
}

.w-xs {
  min-width: 90px;
}

.w-sm {
  min-width: 110px;
}

.w-md {
  min-width: 130px;
}

.w-lg {
  min-width: 150px;
}
.w-xl {
  min-width: 190px;
}

.buynow .money-bag,
.free-img {
  margin: 0 auto;
  display: block;
  margin-top: -20px;
}

.buynow .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.45rem 0.8rem;
  clear: both;
  font-weight: 400;
  color: #576074;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 15px;
}
.buynow .dropdown-item:hover {
  background-color: #f5f4ff !important;
}
.buynow .btn {
  padding: 0.375rem 0.75rem;
}
.buynow .dropdown-menu {
  border-radius: 5px !important;
  background-color: #ffffff;
  border: 1px solid #ffffff8a;
  box-shadow: 0 0px 90px rgb(155 153 153 / 48%) !important;
}
.buynow .card-block {
  border: 1px solid rgb(231 229 245 / 11%) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(255 255 255 / 6%);
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background: #6a1cbb69;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 480px) {
  .buynow .card .btn {
    display: initial !important;
  }
}
.buynow.modal .btn-close:focus {
  box-shadow: none;
}
.buynow .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #000000a8;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  outline: 0;
}

.buynow .modal-dialog .image-top {
  margin-top: -10px !important;
}
.buynow .modal-dialog .card-block {
  background: #6a1cbbbf;
}
.buynow .regular-license {
  z-index: 9;
}
.modal .modal-header {
  padding: 10px 20px;
}
@media (max-width: 480px) {
  .buynow .modal-dialog .modal-body {
    margin: 15px;
  }
}
.buynow .modal-dialog .btn-close {
  position: absolute;
  float: right;
  margin-right: auto;
  right: 33px;
  top: 30px;
  padding: 8px;
  background-image: none;
  border: 1px solid #ffffff47;
  border-radius: 5px;
  line-height: 1;
}
.buynow .modal-dialog .btn-close span {
  color: #fff;
  font-size: 24px;
  padding: 9px 0px;
  line-height: 0.6;
}
.lh-xs {
  line-height: 0.75 !important;
  margin-top: 6px;
}
.buynow .license-view {
  text-align: center;
  text-decoration: underline;
}
.buynow .license-view a {
  padding: 10px;
  border-radius: 5px;
}
.buynow .license-view a:hover {
  padding: 10px;
  background-color: rgb(255 255 255 / 12%);
  border-radius: 5px;
}
.bg-image-style {
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  border-radius: 0px;
}
.bg-image-style::before {
  content: "";
  background-color: #ffffffa6;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
  position: absolute;
}
.buynow .modal-backdrop {
  background-color: #000000b8;
}
.buynow .card-body.imag-list {
  overflow: visible;
}
.buynow .imag-list {
  position: relative;
  content: "";
  left: 0;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  z-index: 1;
}
.buynow .imag-list::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 7px;
  position: absolute;
  background: #6a1cbb82;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.buynow .modal-content {
  z-index: 0;
  border: 0px #000 solid !important;
}
.buynow .modal-content::before {
  content: "";
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
  position: absolute;
  background: #000000b3;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.buynow .Licenses-img {
  border: 1px solid #ffffff2e;
  border-radius: 7px;
}
.modal.buynow .modal-body .card {
  background: transparent;
}
.rtl .main-dashboard-img {
  transform: scaleX(-1);
}

.multiselect-option.is-selected {
  background-color: var(--primary-bg-color) !important;
  color: white !important;
}

.multiselect-option {
  font-size: 15px !important;
}

.multiselect.is-active {
  box-shadow: none !important;
}

.vue-form-wizard .wizard-btn {
  margin: 3px;
}
table.vgt-table {
  white-space: normal;
}

.multiselect {
  border-color: #e8e8f7 !important;
  min-height: 38px !important;
}
.overlay-content {
  color: #000;
}

////

.vgt-wrap__footer .footer__navigation__page-btn .chevron.right::after {
  border-left: 6px solid var(--primary-bg-color) !important;
}

.vgt-wrap__footer .footer__navigation__page-btn .chevron.left::after {
  border-right: 6px solid var(--primary-bg-color) !important;
}

.vgt-wrap__footer .footer__row-count::after {
  border-top: 6px solid var(--primary-bg-color) !important;
}

@media (max-width: 576px) {
  .vgt-compact td:before {
    width: 100% !important;
  }

  .vgt-table.bordered td,
  .vgt-table.bordered th {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
  }
}

.vgt-wrap__footer {
  border-top: 0 !important;
}

.vgt-inner-wrap {
  box-shadow: none !important;
}

.vgt-left-align {
  white-space: normal;
}

#ChatList .ps__rail-x,
#ChatCalls .ps__rail-x,
#ChatContacts .ps__rail-x,
#ChatBody .ps__rail-x,
.chat-account .ps__rail-x,
.main-chat-list .ps__rail-x {
  display: none !important;
}

.fc .fc-button-primary:focus {
  box-shadow: none !important;
}

.swal2-styled.swal2-confirm {
  background-color: var(--primary-bg-color) !important;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: none !important;
}

.swal2-container {
  z-index: 9999 !important;
}

[data-filepond-item-state="processing-complete"] .filepond--item-panel {
  background-color: var(--primary-bg-color) !important;
}

.countdown li {
  display: inline-block;
  font-size: 1.83rem;
  font-weight: bold;
  width: 126px;
  height: 84px;
  border-radius: 0px;
  line-height: 22px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(29, 29, 31, 0.08);
  color: #ffffff;
}

@media (min-width: 992px) {
  .countdown li {
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  .rtl .countdown li {
    margin-left: 10px;
    margin-right: 0px;
  }
}

@media (max-width: 991px) {
  .countdown li {
    margin: 20px 10px 10px 10px;
  }
}

.countdown p {
  font-size: 13px;
  padding-top: 2px;
  font-weight: 300;
}

.was-validated .form-control:valid,
.form-control.is-valid,
input.form-control.parsley-success,
textarea.form-control.parsley-success {
  border-color: #19b159 !important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
input.form-control.parsley-error,
textarea.form-control.parsley-error {
  border-color: #f16d75 !important;
}

.dp__menu_index {
  z-index: 1 !important;
}

.form-control::-webkit-file-upload-button {
  padding: 0.575rem 0.75rem;
  background-color: rgb(var(--primary-rgb));
  color: white;
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: rgb(var(--primary-rgb));
}

@media (max-width: 440px) {
  .dp__input {
    font-size: 10px !important;
  }
}

.vti__dropdown-list {
  width: 350px !important;
}

.multiselect-caret,
.multiselect-clear {
  z-index: 0 !important;
}
.multiselect-dropdown {
  z-index: 9 !important;
}

.filepond--image-preview-overlay-success {
  color: rgb(var(--primary-rgb)) !important;
}

.select-sm .multiselect {
  min-height: 28px !important;
  font-size: 14px;
}

.select-lg .multiselect {
  min-height: 42px !important;
}

.back-to-top-btn {
  background-color: #E66239 !important;
}

.back-to-top-btn:hover {
  color: white !important;
}

.swal2-close:focus {
  box-shadow: none !important;
}

.Rate .icon {
  width: 25px !important;
  height: 25px !important;
}
.buynow .modal-content-demo:before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
  position: absolute;
  background: #000000b3;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.modal-content-demo {
  overflow: hidden;
  // border-radius: 1rem;
  z-index: -1;
}

.buynow .modal-body {
  position: absolute;
}

.buynow .imag-list:before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 7px;
  position: absolute;
  background: #6a1cbb82;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.buynow .imag-list {
  position: relative;
  content: "";
  left: 0;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  z-index: 1;
}

.buynow .card-body.imag-list {
  overflow: visible;
}

.buynow .modal-content {
  border: 0;
}

.license-view {
  text-align: center;
}

.buynow .license-view a:hover {
  padding: 10px;
  background-color: #ffffff1f;
  border-radius: 5px;
}

.buynow .license-view a {
  padding: 10px;
  border-radius: 5px;
}

.buynow .btn-close {
  position: absolute;
  float: right;
  margin-right: auto;
  right: 33px;
  top: 30px;
  padding: 7px;
  border: 1px solid #ffffff47;
  border-radius: 5px;
  line-height: 1;
  filter: invert(1);
}

.buynow .btn-close span {
  color: #fff;
  font-size: 24px;
  padding: 9px 0;
  line-height: 0.6;
}

.buynow .money-bag,
.free-img {
  margin: -20px auto 0;
  display: block;
}

.buynow .btn {
  padding: 0.375rem 0.75rem;
}
.sidebar-menuscroll {
  overflow: visible !important;
}
@media screen and (min-width: 992px) {
  .horizontal-main {
    .simplebar-mask {
      overflow: visible;
    }
    .simplebar-content-wrapper {
      overflow: visible !important;
    }
  }
}

.search-panel .multiselect {
  border-radius: 5px 0 0 5px;
}

.rtl {
  .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_ne,
  .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_se {
    right: 0;
    left: inherit;
  }
  .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_nw,
  .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_sw {
    left: 0;
    right: inherit;
  }

  .ck-content blockquote {
    border-right: 5px solid #ccc;
    border-left: 0;
  }
}

.ck-file-dialog-button {
  display: none;
}

.input-group .btn {
  z-index: 1;
}

.vti__dropdown-list.below {
  top: 38px !important;
}
